[tool.black]
line-length = 88
target-version = ["py311"]
include = '\.pyi?$'
exclude = '''
/(
    \.venv
  | venv
  | build
  | dist
  | classic_ml/cache
  | genai_llm/cache
  | __pycache__
)/
'''

[tool.pylint.messages_control]
disable = ["import-error"]

[tool.pylint.master]
extension-pkg-allow-list = ["numpy"]
